/*
Author:  Eric Landeros
Date:    05-06-2022
Purpose: Minterest Website CSS File
*/

body {
  background-color: black;
  color: white;
}

p {
  color: white;
  font-size: 24px;
  font-family: verdana;
}

.OddListItem {
  color: orange;
}

.EvenListItem {
  color: white;
}

#navList {
  list-style: none;
  margin: 200;
  padding: 100;
  background-color: white;
}

li {
  display: inline;
}
li a {
  display: inline;
  padding: 32px;
}

#VideoBox {
  border: 40px solid;
  border-color: brown;
  background-color: green;
}

.Video {
  border: 5px solid;
  border-color: orange;
  height: 400px;
  width: 438px;
}
